aws:
  account_id: "000000000"

zulip:
  site: "https://zulip.example.com"
  email: "aws-cost-bot@zulip.example.com"
  api_key: "xxxxxxxxxxxxxxxxxxxxxx"
  type: "stream"
  to: "AWS"
  topic: "Monthly Cost"
  message: |
    {year}年{month}月の月額コストをお知らせします。
    * 本日{day}日までの利用分は ${cost:.2f} です。
    * AWSの予測によると、今月の合計費用は ${forecast:.2f} です。
    * 現在、EC2で起動しているサーバーは{nserver}台です。
